/*Configuraciones de estilos generales */
@import "colores"
@import "bootstrap_customization"
@import "../node_modules/bootstrap/scss/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import "animaciones"
@import "header"
@import "footer"
@import "topNav"

$font-size-base: 3em
$font-size: (h1: $font-size-base * 1,
h2: $font-size-base * 0.8,
h3: $font-size-base * 0.75,
h4: $font-size-base * 0.7,
h5: $font-size-base * 0.65,
h6: $font-size-base * 0.60)

@each $header, $size in $font-size
    #{$header}
        font-size: $size
        color: $verde-oscuro
        text-align: center
        margin-top: 15px

html, body
    min-height: 100vh

ul, ol
    list-style: none

body
    font-family: 'PT Sans', sans-serif
    background-color: #fff

main
    width: 100%
    background-color: #fff

.flex
    display: flex
    flex-direction: column
    justify-content: center
    flex: 1
    align-items: center
    flex-wrap: wrap
    margin-top: 5px

A 
    text-decoration: none
    font-weight: bold
    color: #111

    &:visited
        color: #111

    &:hover
        color: $verde-oscuro

/* Configuraciones de estilos especificas a cada página */
/* Index.html */

.catProductos img
    padding: 0 8vw 100px 8vw
    height: 400px

.productosDestacados
    &__contenedorCards
        height: 10%
        margin: 20px 0px
        display: flex
        flex-direction: row
        justify-content: space-around

    &__img
        padding: 20px
        height: 20vh
        width: 100%
    &__titulo
        font-weight: bold
        color: $verde-oscuro
    &__link
        color: #fff!important
        font-weight: bold
        &:active
            color: #fff
        &:hover
            color: #fff

/* Clientes.html*/
.clientes
    &__grilla
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-template-rows: repeat(2,auto)

    &__card
        display: flex
        flex-direction: column
        align-items: center
        flex: 1

    &__imagen
        margin: 15px

        &:hover
            transform: scale(1.2)

    &__link
        text-align: center
        border: $verde-oscuro solid
        border-radius: 25px
        padding: 5px
        margin: 15px
        overflow: hidden
        min-width: 300px

.futurosClientes
    margin-top: 25px

    &__texto
        margin: 25px

/* Productos.html */

.contenedorSeccionProductos
    display: flex
    flex-direction: row
    justify-content: center
    margin: 30px

.contenedorSeccionProductos img
    height: 20vh
    padding: 15px

.categorias
    align-self: flex-start
    text-align: center
    font-size: 150%
    min-width: 20vw
    padding: 0px 5vw
    margin-right: 2vw

    & a
        background-color: $verde-oscuro
        color: #fff
        font-weight: bold
        font-size: 17px
        padding: 14px 16px
        display: block
        min-width: 140px
        border-radius: 15px
        margin: 15px 0px

        &:hover
            background-color: $verde-claro
            -webkit-animation-name: tada
            animation-name: tada
            -webkit-animation-duration: 1s
            animation-duration: 1s
            -webkit-animation-fill-mode: both
            animation-fill-mode: both

.dropMobile
    display: none

/* Ecología.html */

.linksRelevantes
    &__lista
        display: flex
        flex-direction: row

    &__item
        padding-left: 3px
        padding-right: 3px

    &__img
        margin-right: 3vw
        height: 10vh
        width: 15vw

/*Información.html*/

.informacion
    margin: 10px
    width: 60%
    margin-left: 2vw
    font-size: 120%
    text-align: left

    & h2
        margin-bottom: 15px
        text-align: left

    & h3
        margin-bottom: 15px
        text-align: left

.preguntasFrecuentes
    &__pregunta
        text-align: left
        font-size: 1em
    &__respuesta
        display: inline-block
        margin-left: 2vw

.contacto
    width: 600px

/*Media querys*/

@media only screen and (max-width: 768px)

    .topNav
        margin: 20px 0px
        &__menu
            min-width: 50%
            display: flex
            flex-wrap: wrap
            justify-content: center

        &__link
            min-width: 90px

    .catProductos img
        margin-top: 25px
        padding: 5vw 8vw 15vw 8vw
        height: 400px

    .clientes__grilla
        grid-template-columns: repeat(2,1fr)
        grid-template-rows: repeat(3,auto)

    .categorias
        font-size: 100%
        padding: 0px 0px
        margin-right: 1vw

    .contenedorSeccionProductos
        margin: 0px
        margin-top: 30px
        margin-bottom: 30px

    .linksRelevantes
        &__img
            height: 10vh
            width: 20vw

@media only screen and (max-width: 576px)

    .header__titulo
        text-align: center

    .topNav
        margin: 20px 20px
        &__menu
            min-width: 50%
            display: flex
            flex-wrap: wrap
            justify-content: center

        &__link
            min-width: 120px

        &__elemento
            &:hover > .topNav__subMenu
                display: none

    .productosDestacados
        &__contenedorCards
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between

        &__card
            margin: 10px 0px

    .catProductos img
        margin-top: 25px
        padding: 5vw 8vw 15vw 8vw
        height: 200px

    .clientes__grilla
        grid-template-columns: repeat(1,1fr)
        grid-template-rows: repeat(6,auto)

    .contenedorSeccionProductos
        flex-direction: column
        justify-content: space-around
        margin: 30px 30px
        align-items: center

    .categorias
        display: none

    .dropMobile
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 5vh

    .dropdownDescription
        color: #fff
        font-weight: bold
        &:active
            color: #fff
            font-weight: bold
        &:hover
            color: #fff
            font-weight: bold

    .informacionReciclaje__video
        width: 100%
        height: 25vh

    .linksRelevantes
        &__lista
            flex-direction: column
            align-content: center
            margin-block-start: 0px
            margin-block-end: 0px
            margin-inline-start: 0px
            margin-inline-end: 0px
            padding-inline-start: 0px
            list-style-position: inside

        &__lista
            margin: 25px 0px
            align-items: center

        &__item
            margin: 5px 0px
            display: inline-block
            width: 100%

        &__img
            height: 10vh
            width: 100%

    .informacion
        width: 90%

    .contacto
        width: 100%

    .pieDePagina__lista
        margin-block-start: 0px
        margin-block-end: 0px
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 0px
        list-style-position: inside
